body{
    font-family:'Sarabun', sans-serif;
}

/* Navbar */
.custom-nav{
    background:#7b0000;
}

/* Hero */
.hero{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("https://www.finearts.go.th/uploads/tinymce/source/77/%E0%B8%AA%E0%B8%A5%E0%B8%B2%E0%B8%81%E0%B8%A0%E0%B8%B1%E0%B8%95%20%E0%B8%AB%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B8%95%E0%B8%B2%E0%B8%99%E0%B8%81%E0%B9%8B%E0%B8%A7%E0%B8%A2%E0%B8%AA%E0%B8%A5%E0%B8%B2%E0%B8%81/9.jpg") center/cover fixed;
}

/* Timeline */
.timeline-card{
    background:white;
    padding:25px;
    border-left:5px solid gold;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.timeline-card:hover{
    transform:translateY(-8px);
}

/* Gallery */
.gallery-img{
    cursor:pointer;
    transition:0.3s;
}

.gallery-img:hover{
    transform:scale(1.05);
}

/* Footer */
.custom-footer{
    background:#7b0000;
}
.social-icon {
  color: white;
  margin-left: 12px;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
}

.social-icon:hover {
  transform: scale(1.2);
  color: #ffd700;
}